.dropdown {
    border: 1px solid var(--grey);
    border-radius: 16px;
    padding: 2rem 2.4rem;

    svg {
        position: absolute;
        z-index: 10;
        top: 25%;
        right: -30px;
        transition: rotate 0.5s ease 0s;
    }

    &[open] {
        & svg {
            rotate: 180deg;
        }
    }
}

.answer {
    border-top: 1px solid var(--grey);
    padding-top: 1.25rem;
    ol {
        padding-left: 1.25rem;
        display: grid;
        gap: 0.625rem;
        padding-block: 0.625rem;
    }
    & li {
        list-style: "-";
        padding-left: 10px;
    }
}

.question {
    position: relative;
    padding-bottom: 0.625rem;
    cursor: pointer;
    &::marker {
        content: none;
    }
}
