.container{
    width: 300px;
    background-color: var(--darkviolet);
    border-radius: 16px;
    color: var(--white);
    margin: 20px;
    position: relative;
}
.productImg{
    border-radius: 16px 16px 0px 0px;
}
.brand, .title, .price{
    margin-inline: 22px;
}
.brand{
    margin-block: 16px 0px;
}
.title, .price{
    font-weight: bold;
}
.price{
    font-size: 26px;
    padding-block: 16px;
}
.discount{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ligthblue);
    width: 105px;
    height: 105px;
    border-radius: 50%;
    font-family: "Square Peg";
    font-size: 45px;
    color: var(--darkblue);
    margin: 10px 10px 0px auto;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--darkblue);
    background-color: var(--ligthblue);
    margin:16px 22px 16px auto;
    width: 50px;
    height: 30px;
    border-radius: 50px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}