.container {
    position: fixed;
    z-index: 15;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: var(--blackOpacity);
    translate: 100% 0;
    transition: translate 0.5s ease 0s;

    @media (min-width: 768px) {
        left: calc(100dvw - 600px);
    }
}

.activeShoppingList {
    translate: 0;
}

.containerContent {
    position: absolute;
    top: calc(28px + 56px);
    left: 0;
    right: 0;
    z-index: 10;
    background: var(--white);
    padding-block: 0.625rem;
    padding-inline: 1rem;
    max-width: 768px;
}

.containerEmptyContent {
    position: absolute;
    top: calc(28px + 56px);
    left: 0;
    right: 0;
    z-index: 10;
    background: var(--white);
    padding-block: 4rem;
    display: grid;
    place-items: center;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding-block: 0.75rem;

    & > li:last-child {
        align-self: self-end;
    }
}

.closeButton {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 20;
    background: transparent;
    & svg {
        color: var(--white);
        width: 25px;
        aspect-ratio: 1/1;
        transition: all 0.5s ease 0s;
        border-radius: 50%;
        @media (min-width: 1281px) {
            &:hover {
                color: var(--white);
                box-shadow: 0px 0px 30px 0px var(--lightviolet),
                    0 4px 6px -4px var(--lightviolet);
            }
        }
    }
}

.kasse {
    color: var(--darkblue);
    padding: 0.5rem;
    background: var(--ligthblue);
    border-radius: 1.3rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
    @media (min-width: 1281px) {
        &:hover {
            color: var(--white);
            background: var(--darkblue);
        }
    }
}
