.container {
    position: fixed;
    z-index: 20;
    inset: 0;
    background: var(--blackOpacity);
    top: calc(28px + 56px);
    translate: 100% 0;
    transition: translate 0.5s ease 0s;
}

.activeShoppingList {
    translate: 0;
}

.containerContent {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    background: var(--white);
    padding-block: 0.625rem;
    padding-inline: 1rem;
    max-width: 768px;
}

.containerEmptyContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: var(--white);
    padding-block: 4rem;
    display: grid;
    place-items: center;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    & > li:last-child {
        align-self: self-end;
    }
}
