.cart {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto;
    gap: 1rem;
    color: var(--darkblue);
    padding-bottom: 0.625rem;
    border-bottom: 1px solid var(--lightviolet);
    @media (min-width: 768px) {
        display: flex;
        align-items: center;
    }
}


.textContainer {
    grid-column: 2/-1;
}

.img {
    grid-row: 1/-1;
    width: 95px;
    aspect-ratio: 1/1;
    border: 0.5px solid var(--grey);
    border-radius: 16px;
}

.textOne {
    font-size: 0.75rem;
}

.price {
    font-size: 1.375rem;
    min-width: max-content;
    grid-column: 3;
}

.buttons {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    grid-column: 2;
}

.button svg {
    width: 25px;
    aspect-ratio: 1/1;
    transition: all 0.5s ease 0s;
    border-radius: 50%;
    @media (min-width: 1281px) {
        &:hover {
            background-color: var(--lightviolet);
            color: var(--white);
        }
    }
}
