.toyShowcase{
    background: var(--lightviolet);
    padding-block: 50px 100px;
}
.title, .subTitle{
    color: var(--white);
    text-align: center;
}
.subTitle{
    padding-block: 10px 50px;
    font-size: 2.5rem;
}
.cardContainer{
    display: flex;
    flex-flow: row wrap;
}