.nav {
    position: fixed;
    inset: 0;
    background: var(--darkblue);
    z-index: 10;
    translate: 100%;
    transition: translate 0.5s ease 0s;
    display: grid;
    place-content: center;
    ul {
        display: grid;
        gap: 1.25rem;
        place-content: center;
    }

    @media (min-width: 768px) {
        position: initial;
        translate: 0;
        ul {
            grid-template-columns: repeat(3, auto);
            gap: 1rem;
            font-size: 0.8rem;
        }
    }

    @media (min-width: 1281px) {
        ul {
            font-size: 1rem;
        }
    }
}

.activeNavBar {
    translate: 0;
}
