.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--darkblue);
    color: var(--ligthblue);
}
.title{
    margin: 40px 0px 0px 0px;
    padding: 10px 0px;
}
.info{
    font-size: 1rem;
    padding: 5px 0px;
    color: var(--ligthblue);
    transition: all .3s ease 0s;
}
.socialContainer{
    display: flex;
    align-items: center;
    font-size: 3rem;
    margin: 0px 0px 40px 0px;
    transition: all .3s ease 0s;
}
.social{
    margin: 0px 5px;
    color: var(--ligthblue);
    transition: all .3s ease 0s;
}
@media screen and (min-width: 1366px) {
    .info:hover{
        color: var(--white);
    }
    .social:hover{
        color: var(--white);
    }
}