@import url(https://fonts.googleapis.com/css?family=Quicksand:regular);
@import url(https://fonts.googleapis.com/css?family=Square+Peg:regular);
:root {
    --violtet: #9478a7e5;
    --darkvioltet: #9478a7;
    --lightvioltet: #c1adce;
    --darkblue: #355674;
    --ligthblue: #d7e6ec;
    --white: #fff;
    --grey: #bcbcbc;
    --red: #e74c3c;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ol,
ul,
li {
    list-style: none;
}

img,
svg {
    max-width: 100%;
    object-fit: cover;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 0.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

button {
    cursor: pointer;
    background-color: inherit;
}

button:disabled {
    cursor: not-allowed;
}

input,
button {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
}

html,
body {
    font-family: "Quicksand", system-ui, sans-serif;
    font-size: 18px;
    line-height: 1;
    scroll-behavior: smooth;
    font-weight: normal;
    font-style: normal;
    width: 100%;
}

textarea {
    resize: none;
}

body.lock {
    overflow: hidden;
}
